[submodule "themes/kross-hugo"]
	path = themes/kross-hugo
	url = https://github.com/sdminev/kross-hugo
[submodule "themes/fstr-kross-hugo"]
	path = themes/fstr-kross-hugo
	url = https://github.com/sdminev/fstr-kross-hugo
