[submodule "themes/kross-hugo"]
	path = themes/kross-hugo
	url = https://github.com/sdminev/kross-hugo
	
[submodule "themes/fester-kross-hugo"]
	path = themes/fester-kross-hugo
	url = https://github.com/sdminev/kross-hugo

